body {
    background-color: rgb(187, 230, 215);
    width: 80%;
    margin: auto;
}

div.padre{
    font-size: 18px;
    margin-bottom: 15px;
}

div.hijo{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    margin-bottom: 5px;
}


.btnRadio{
    width: 18px;
    height: 18px;
    font-size: medium;
}
